{% extends "base.html" %}
{% block title %} Procédure {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>
				 Procédure :
			</h3>
			<main class="site-content">
				<p>
					<b>Premièrement :</b><br>
					Installation de uWamp ou Mamp<br>
					<br>
					<b>Deuxièment :</b><br>
					Installation de Python et Pycharm :<br>
					<a href=https://www.python.org/downloads/>-		PYTHON<a/><br>
					<a href="https://www.jetbrains.com/fr-fr/student/">-	PYCHARM<a/>
					<br>
					<br>
					<b>Troisièment :</b><br>
					Lancer Pycharm puis cliquer sur "Open" et ouvrez le dossier du projet<br>
					<br>
					<b>Quatrièment :</b><br>
					Lancer le fichier 2_ConnectionBd qui se trouve dans : NomProjet > APP_FILMS > zzzdemos <br>
					<br>
					<b>Cinquièment :</b><br>
					Lancer le fichier 1_run_server_flask<br>
					<br>
					<b>Sixièment :</b><br>
					Cliquer sur le lien https://127.0.0.1:5005/<br>
				</p>
			</main>
		</div>
	</div>
</div>
{% endblock %}
